* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffd0d5;
  min-height: 100vh;
  overflow-x: hidden;
}

/* --------------------------------------------------------------------------------- */
/* INTRO */

#introLogo {
  width: 20rem;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#introFlower {
  position: absolute;
  top: 0;
  left: 0;
  width: 118%;
  display: none;
  transition: left 1s, width 1s;
}

@media all and (min-width: 600px) {
  #introLogo {
    width: 26rem;
  }
}

@media all and (min-width: 1024px) {
  #introLogo {
    width: 40rem;
  }

  #introFlower {
    width: 60%;
  }
}

/* --------------------------------------------------------------------------------- */
/* HEADER */

header {
  display: flex;
  justify-content: center;
  padding-top: 1.4rem;
}

.forflex {
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.5s ease-out;
}

.forflex.active {
  transform: translateY(0%);
  opacity: 1;
}

.triangle {
  width: 25px;
  height: 2px;
  background: #000;
  margin-bottom: 5px;
  transition: all 0.4s;
}

.triangle.third {
  margin-bottom: 0;
}

.triangle.first.active {
  transform: translateY(7px) rotate(45deg);
}

.triangle.second.active {
  opacity: 0;
}

.triangle.third.active {
  transform: translateY(-7px) rotate(-45deg);
}

