@font-face {
  font-family: 'Circular-medium';
  src: url('./font/CircularSpotifyTxT-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Circular-book';
  src: url('./font/CircularSpotifyTxT-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'Circular-bold';
  src: url('./font/CircularSpotifyTxT-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'ProductSans-Light';
  src: url('./font/ProductSans-Light.ttf') format('opentype');
}

@font-face {
  font-family: 'AvenirLTStd-Light';
  src: url('./font/AvenirLTStd-Light.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffd0d5;
  min-height: 100vh;
  overflow-x: hidden;
}

.fordisplay {
  display: flex;
  justify-content: center;
}

/* --------------------------------------------------------------------------------- */
/* INTRO */

#introLogo {
  width: 20rem;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#introFlower {
  position: absolute;
  top: 0;
  left: 0;
  width: 118%;
  display: none;
  transition: left 0.1s, width 0.1s;
}

@media all and (min-width: 600px) {
  #introLogo {
    width: 26rem;
  }
}

@media all and (min-width: 1024px) {
  #introLogo {
    width: 40rem;
  }

  #introFlower {
    width: 60%;
  }
}

/* --------------------------------------------------------------------------------- */
/* HEADER */

header {
  padding-top: 1.4rem;
}

.forflex {
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.5s ease-out;
}

.forflex.active {
  transform: translateY(0%);
  opacity: 1;
}

.triangle {
  width: 25px;
  height: 2px;
  background: #000;
  margin-bottom: 5px;
  transition: all 0.4s;
}

.triangle.third {
  margin-bottom: 0;
}

.triangle.first.active {
  transform: translateY(7px) rotate(45deg);
}

.triangle.second.active {
  opacity: 0;
}

.triangle.third.active {
  transform: translateY(-7px) rotate(-45deg);
}

#menuFour {
  display: none;
}

#menuFourDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuFour {
  margin-left: 0.8rem;
  /* border: 1px solid red; */
}

.menuFour_title {
  font-family: 'Circular-medium';
  letter-spacing: -0.7px;
}

.menuFour_title.hover {
  opacity: 0.5;
}

.menuFour_circle_container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5px;
  margin-top: 0.2rem;
}

.menuFour_circle {
  background-color: black;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.1s linear;
  visibility: hidden;
  opacity: 0;
}

.menuFour_circle.hover {
  transform: scale(1);
  opacity: 0.5;
  visibility: visible;
}

@media all and (min-width: 600px) {
  .forflex {
    width: 90%;
    border: 1px solid red;
  }

  #menuFour {
    display: block;
  }

  #menuTriangle {
    display: none;
  }
}

@media all and (min-width: 1024px) {
  .forflex {
    width: 88%;
    border: 1px solid red;
  }

  .menuFour_title {
    font-family: 'Circular-medium';
    letter-spacing: -0.7px;
    font-size: 1.1rem;
  }
  
}

/* --------------------------------------------------------------------------------- */
/* MAIN */

main {
  border: 1px solid black;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.forwidth {
  width: 94%;
  border: 1px solid white;
}

#imgMain {
  border: 5px solid salmon;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.mainimg_container {
  /* border: 2px solid red; */
  width: 83%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 200%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.2s ease-out;
}

.mainimg_container.stack {
  left: 50%;
  opacity: 1;
}

.mainimg_container.first {
  transform: translate(-50%, -50%) rotate(-5deg);
}

.mainimg_container.second {
  transform: translate(-50%, -50%) rotate(5deg);
}

.mainimg {
  width: 100%;
  aspect-ratio: 1 / 1;
}

#titleMain {
  border: 1px solid lime;
  padding-bottom: 8rem;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.titleSmall {
  font-family: 'Circular-medium';
  font-size: 0.9rem;
  letter-spacing: -0.5px;
}

.titleBig {
  padding-top: 0.4rem;
  font-family: 'Circular-medium';
  font-size: 2.6rem;
  letter-spacing: -2.5px;
  font-weight: 550;
  line-height: 1.1;
}

#shuffleMain {
  border: 3px solid blue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

#shuffle_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid lime;
}

.shuffled {
  /* border: 1px solid purple; */
  margin-right: 1.5rem;
}

#progressAndScroll {
  border: 1px solid purple;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

#progressMain {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scrollMain {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#scrollDown {
  font-family: 'Circular-medium';
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin-right: 0.5rem;
}

#scrollArrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
  background: transparent;
}

#scrollArrow.hover {
  background-color: black;
}

.down_arrow {
  width: 35%;
  transition: all 0.1s ease-in-out;
}

.down_arrow.hover {
  filter: invert(1);
}


@media all and (min-width: 600px) {
  .forwidth {
    width: 90%;
  }

  .forwidth.main {
    position: relative;
  }


  #imgAndTitle {
    border: 3px solid lime;
  }

  main {
    padding-bottom: 3rem;
    padding-top: 2.5rem;
  }  

  .mainimg_container {
    /* border: 2px solid red; */
    width: 83%;
    max-width: 436px;
  }  

  #shuffleMain {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;  
    /* width: min-content; */
    border: 3px solid blue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0.5rem;
  }
  
  #shuffle_container {
    writing-mode: vertical-lr;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid lime;
    transform: translateY(-100%);
  }
  
  .shuffled {
    /* border: 1px solid purple; */
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
  
  #imgMain {
    border: 5px solid salmon;
    height: 550px;
  }

  #titleMain {
    border: 1px solid lime;
    padding-bottom: 5rem;
  }
    
  .titleBig {
    padding-top: 0.4rem;
    font-family: 'Circular-bold';
    font-size: 3.5rem;
    letter-spacing: -3.5px;
    font-weight: 500;
    line-height: 1.1;
  }

  #scrollArrow {
    width: 60px;
    height: 60px;
  }
  
  #scrollArrow.hover {
    background-color: black;
  }
  
  .down_arrow {
    width: 40%;
    transition: 0.1s ease-in-out;
  }
  
}

@media all and (min-width: 1024px) {
  .forwidth {
    width: 88%;
  }

  .forwidth.main {
    position: static;
  }

  .mainimg_container {
    /* visibility: hidden; */
  }
  
  #shuffleMain {
    position: static;
    /* height: 100px; */
    width: 100%;
    height: min-content;
    padding: 0;
  }

  #shuffle_container {
    writing-mode: initial;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid lime;
    transform: translateY(0%);
  }
    
  .shuffled {
    /* border: 1px solid purple; */
    margin-bottom: 0rem;
    margin-right: 1.5rem;
  }

  #imgAndTitle {
    border: 4px solid skyblue;
    display: grid;
    grid-template-areas: 'title img';
    grid-template-columns: 1fr 1fr;
  }

  #imgMain {
    border: 5px solid salmon;
    height: 550px;
    grid-area: img;
  }

  #titleMain {
    border: 2px solid red;
    grid-area: title;
    padding-top: 3.5rem;
  }

  .title_container {
    border: 2px solid lime;
  }

  .mainimg_container {
    /* border: 2px solid red; */
    width: 83%;
    max-width: 436px;
  }  

  .titleBig {
    padding-top: 0.4rem;
    font-family: 'Circular-bold';
    font-size: 4rem;
    letter-spacing: -3.5px;
    font-weight: 500;
    line-height: 1.1;
  }

}

@media all and (min-width: 1320px) {
  #shuffleMain {
    grid-area: a;
    height: 100%;
    /* width: 200px; */
    padding: 0;
  }
  
  #shuffle_container {
    writing-mode: vertical-lr;
    transform: translateY(-50%);
  }
  
  .shuffled {
    /* border: 1px solid purple; */
    margin-right: 0;
    margin-bottom: 1.5rem;
  }


  #imgAndTitle {
    grid-area: b;
  }

  #progressAndScroll {
    grid-area: c;
  }

  .forwidth.main {
    display: grid;
    grid-template-areas: 
      'a b'
      'a b'
      'a c';
    grid-template-columns: 0.8fr 7fr;
  }
}

/* --------------------------------------------------------------------------------- */
/* SECTION RELEASE */

#release {
  background-color: #fff;
}

.forwidth {
  border: 1px solid black;
}

.heading {
  font-family: 'Circular-medium';
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -1px;
  padding: 1.6rem 0;
  /* border: 1px solid red; */
}

.imgBox {
  cursor: pointer;
  margin-bottom: 2.5rem;
  border: 2px solid salmon;
}

.relImg {
  width: 100%;
}

.sub_heading {
  display: inline-block;
  color: #fff;
  background: black;
  font-size: 0.85rem;
  padding: 0.25rem;
  font-family: 'Circular-medium';
  margin-top: 0.4rem;
  margin-right: 0.3rem;
}

.sub_heading:hover {
  opacity: 0.5;
}

.sub_heading.plus {
  background: #cdf567;
  color: black;
  font-weight: bold;
}

.img_topic {
  font-family: 'Circular-medium';
  letter-spacing: -0.8px;
  font-size: 1.1rem;
  margin-top: 0.3rem;
}

.img_topic.hover {
  text-decoration: underline;
}

.img_exp {
  font-family: 'AvenirLTStd-Light';
  letter-spacing: -0.6px;
  font-size: 0.9rem;
  font-weight: bolder;
  line-height: 1.2;
  margin-top: 0.3rem;
}

#forPlaySvg {
  position: relative;
}

#playLoc {
  position: absolute;
  background: transparent;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid rgba(0,0,0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 1.4rem;
  bottom: 1.8rem;
}

#playLoc.hover {
  background: white;
}

#playSvg {
  background: transparent;
  width: 40%;
}

.rightArrow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* border: 1px solid blue; */
}

.rightArrow_loc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightArrow_loc_left {
  margin-right: 0.6rem;
  position: relative;
}

.rightArrow_loc_title {
  font-size: 0.85rem;
  font-family: 'Circular-medium';
  font-weight: bold;
  letter-spacing: -0.7px;
  transition: 0.1s ease-in-out;
}

.rightArrow_loc_title.hover {
  text-decoration: underline;
}

.rightArrow_loc_line {
  position: absolute;
  bottom: 0.01rem;
  left: 0;
  width: 0%;
  background: black;
  height: 1px;
  transition: 0.3s ease-in-out;
}

.rightArrow_loc_line.hover {
  left: 0;
  width: 100%;
}

.rightArrow_loc_line.rewind {
  left: 100%;
  width: 0%;
}

.rightArrow_loc_circle {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in-out;
}

.rightArrow_loc_circle.hover {
  background-color: black;
}

.rightArrow_loc_arrow {
  width: 70%;
  transition: 0.1s ease-in-out;
}

.rightArrow_loc_arrow.hover {
  filter: invert(1);
}

@media all and (min-width: 600px) {
  .forwidth {
    width: 93%;
  }

  .arrow_relative {
    position: relative;
  }

  .imgBox {
    height: min-content;
  }

  .rightArrow {
    /* border: 1px solid red; */
    position: absolute;
    top: 2.1rem;
    left: 0;
    width: 100%;
  }

  .forgrid_release {
    border: 3px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  .heading {
    font-size: 1.7rem;
    letter-spacing: -1.4px;
  }

  .img_topic {
    letter-spacing: -0.8px;
    font-size: 1.25rem;
    margin-top: 0.3rem;
    line-height: 1.1;
  }
}

@media all and (min-width: 1024px) {
  .forwidth {
    width: 88%;
  }

  .rightArrow {
    /* border: 1px solid red; */
    top: 2.3rem;
  }

  .forgrid_release {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.3rem;
  }

  .heading {
    font-size: 2rem;
    letter-spacing: -1.7px;
  }

  .img_topic {
    letter-spacing: -0.8px;
    font-size: 1.5rem;
    margin-top: 0.3rem;
    line-height: 1.1;
  }
}

/* --------------------------------------------------------------------------------- */
/* SECTION SPOTLIGHT */

#spotlight {
  background-color: #fff;
}

.heading_container {
  border: 1px solid red;
  padding: 2rem 0;
}

.up_heading {
  font-family: 'Circular-medium';
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -1px;
  margin: 0;
  /* border: 1px solid purple; */
}

.under_heading {
  margin-top: -0.3rem;
  font-size: 1.5rem;
  letter-spacing: -1px;
  font-weight: bolder;
  font-family: 'AvenirLTStd-Light';
}

.spot_scroll_container {
  border: 2px solid greenyellow;
  /* display: flex;
  align-items: center; */
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  cursor: pointer;
  padding: 2rem 0;
  width: 110%;
}

::-webkit-scrollbar {
  display: none;
}

.spotFlex {
  width: fit-content;
  border: 2px solid red;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.spotBox {
  position: relative;
  /* z-index */
  /* z-index: 0; */
  /* border: 3px solid hotpink; */
  display: inline-block;
  margin-right: 3rem;
}

.spotBox.wf {
  width: 256px;
}

.spotBox.ws {
  width: 185px;
}

.spotBox.wt {
  width: 240px;
}

.spotImg {
  width: 100%;
  position: relative;
  /* z-index */
  z-index: 2;
}

.spot_up_heading {
  font-family: 'Circular-medium';
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: -0.8px;
}

.spot_under_heading {
  font-size: 1.2rem;
  letter-spacing: -0.8px;
  font-weight: bolder;
  font-family: 'AvenirLTStd-Light';
}

.spot_side {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%) rotate(180deg);
  writing-mode: vertical-lr;
  margin-right: -0.3rem;
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.spot_side_circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #000;
  margin-bottom: 0.3rem;
}

.spot_side_location {
  font-family: 'Circular-medium';
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: -0.7px;
}

.spotImgRead {
  display: none;
}

@media all and (min-width: 600px) {
  .up_heading {
    font-size: 1.7rem;
    letter-spacing: -1.4px;
  }

  .under_heading {
    margin-top: -0.3rem;
    font-size: 1.7rem;
    letter-spacing: -1.4px;
  }

  .spotBox {
    margin-right: 5rem;
  }  

  .spotBox.wf {
    width: 352px;
  }
  
  .spotBox.ws {
    width: 256px;
  }
  
  .spotBox.wt {
    width: 292px;
  }
  
}

@media all and (min-width: 1024px) {
  .up_heading {
    font-size: 2rem;
    letter-spacing: -1.7px;
  }

  .under_heading {
    margin-top: -0.3rem;
    font-size: 2rem;
    letter-spacing: -1.7px;
  }

  .spotBox {
    margin-right: 10rem;
  }  

  .spotBox.wf {
    width: 536px;
  }
  
  .spotBox.ws {
    width: 312px;
  }
  
  .spotBox.wt {
    width: 424px;
  }
  

  .spot_up_heading {
    font-size: 1.5rem;
    letter-spacing: -0.8px;
  }
  
  .spot_under_heading {
    font-size: 1.5rem;
    letter-spacing: -0.8px;
  }  

  .spotImg_container {
    /* border: 3px solid red; */
    position: relative;
  }

  .spotImgRead {
    /* z-index */
    z-index: 3;
    color: #fff;
    background-color: #000;
    display: block;
    position: absolute;
    padding: 2rem;
    font-size: 1.5rem;
    white-space: normal;
    font-family: 'AvenirLTStd-Light';
    letter-spacing: -1.5px;
    font-weight: bolder;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .spotImgRead.hover {
    opacity: 1;
    visibility: visible;
  }

  .spotReadMore {
    text-decoration: underline;
    font-size: 0.9rem;
    font-family: 'Circular-medium'; 
    letter-spacing: -0.5px;
  }

  #spot1 {
    width: 62%;
    height: 68%;
    left: 0.5rem;
    bottom: 1rem;
  }

  #spot2, #spot5, #spot8, #spot11 {
    left: 0;
    top: 0;
    margin: 0.8rem;
    width: 92%;
    height: 92%;
  }

  #spot3, #spot6  {
    left: 0.5rem;
    bottom: 1rem;
    height: 64%;
    width: 75%;
  }

  #spot4 {
    left: 0.5rem;
    bottom: 1rem;
    height: 50%;
    width: 62%;
  }

  #spot7 {
    left: 0.5rem;
    bottom: 1rem;
    height: 47%;
    width: 60%;  
  }

  #spot9 {
    left: 0.5rem;
    bottom: 1rem;
    height: 68%;
    width: 75%;
  }

  #spot10 {
    left: 0.5rem;
    bottom: 1rem;
    height: 45%;
    width: 60%;
  }

  #spot12 {
    left: 0.5rem;
    bottom: 1rem;
    height: 72%;
    width: 75%;
  }

  .spotSvg {
    border: 1px solid red;
    position: relative;
    left: -120%;
    /* z-index: 1; */
    height: 703px;
    width: 703px;
    transform: scale(0);
    transition: transform 0.2s ease-in 0.3s;
  }
  
  .spotSvg.hover {
    transform: scale(1.3);
  }  

}

/* --------------------------------------------------------------------------------- */
/* SECTION INBOX */

#sec4 {
  background: #171313;
  display: flex;
  justify-content: center;
  padding: 5rem 0 3rem 0;
}

.sec4_que {
  text-align: center;
}

.que_detail {
  display: inline-block;
  color: #fff;
  font-family: 'Circular-medium';
  font-size: 2.5rem;
  letter-spacing: -2px;
  line-height: 1.1;
}

.sec4_exp {
  color: #837e7e;
  font-family: 'AvenirLTStd-Light';
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.3;
  letter-spacing: -0.5px;
}

#form {
  padding: 4rem 0 6rem 0;
}

.input_display {
  display: flex;
  justify-content: center;
}

.input_box {
  width: 448px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.input_line {
  height: 1px;
  width: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -6px;
}

#email {
  font-family: 'AvenirLTStd-Light';
  background: transparent;
  border: none;
  width: 85%;
  height: 30px;
  font-size: 1.2rem;
  letter-spacing: -1.5px;
  color: #fff;
}
/* input 밑에 뜨는 이메일 주소 선택했을 때 배경이 흰색인 효과 없애야 함 */
#email:focus {
  outline: none;
}

#email::placeholder {
  color: #fff;
  font-size: 1.2rem;
  font-family: 'AvenirLTStd-Light';
  letter-spacing: -1.5px;
}

button {
  background: transparent;
  color: #fff;
  font-family: 'Circular-medium';
  border: none;
  text-align: center;
}

#inbox {
  display: inline-block;
  position: relative;
}

#inbox_svg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#inbox_svg2 {
  position: absolute;
  top: 145%;
  left: 35%;
  width: 75%;
  display: none;
  transform: rotate(47deg);
}

.path1_svg1 {
  visibility: hidden;
  stroke-dasharray: 245;
  stroke-dashoffset: 245;
}

.path2_svg1 {
  visibility: hidden;
  stroke-dasharray: 295;
  stroke-dashoffset: 295;
}

.path1_svg1.active {
  visibility: visible;
  animation: path1_svg1 0.6s linear;
  stroke-dashoffset: 0;
}

@keyframes path1_svg1 {
  0% {stroke-dashoffset: 245;}
  100% {stroke-dashoffset: 0;}
}

.path2_svg1.active {
  visibility: visible;
  animation: path2_svg1 0.8s linear;
  stroke-dashoffset: 0;
}

@keyframes path2_svg1 {
  0% {stroke-dashoffset: 295;}
  25% {stroke-dashoffset: 295;}
  100% {stroke-dashoffset: 0;}
}
/* 화살표가 늘어나는 효과! input 상자를 연결하는 듯한 */
/* 화살표머리 */
.path1_svg2 {
  visibility: hidden;
  stroke-dasharray: 49;
  stroke-dashoffset: 49;
}

/* 화살표몸통 */
.path2_svg2 {
  visibility: hidden;
  stroke-dasharray: 196;
  stroke-dashoffset: 196;
}

.path1_svg2.active {
  visibility: visible;
  animation: path1_svg2 0.8s linear;
  stroke-dashoffset: 0;
}

@keyframes path1_svg2 {
  0% {stroke-dashoffset: 49;}
  75% {stroke-dashoffset: 49;}
  100% {stroke-dashoffset: 0;}
}

.path2_svg2.active {
  visibility: visible;
  animation: path2_svg2 0.6s linear;
  stroke-dashoffset: 0;
}

@keyframes path2_svg2 {
  0% {stroke-dashoffset: 196;}
  100% {stroke-dashoffset: 0;}
}


.path1_svg1, .path1_svg2, .path2_svg1, .path2_svg1 {
  fill: none;
  stroke: #ffe818;
}

@media all and (min-width: 600px) {
  .fordisplay.sec4 {
    width: 75%;
  }

  .que_detail {
    font-size: 3.5rem;
    letter-spacing: -4px;
    line-height: 1.1;
  }
  
  .sec4_exp_box {
    display: flex;
    justify-content: center;
  }
  
  .sec4_exp {
    width: 95%;
  }

  .sec4_que_box {
    display: flex;
    justify-content: center;
  }
  
  .sec4_que {
    width: 92%;
  }

  #form {
    padding: 6rem 0 14rem 0;
  }

  #sec4 {
    padding: 8rem 0 4rem 0;
  }

  #email {
    font-size: 1.3rem;
    letter-spacing: -1.5px;
  }
    
  #email::placeholder {
    font-size: 1.3rem;
    letter-spacing: -1.5px;
  }
}

@media all and (min-width: 1024px) {
  .fordisplay.sec4 {
    width: 90%;
  }

  .sec4_que_box {
    justify-content: flex-start;
  }
  
  .sec4_que {
    text-align: left;
    width: 100%;
  }

  .que_detail {
    font-size: 4rem;
  }

  #sec4 {
    padding: 9rem 0 4rem 0;
  }

  #form {
    padding: 12rem 0 9rem 0;
  }

  .input_display {
    justify-content: flex-end;
  }

  .input_box {
    width: 410px;
  }
  
  #email {
    font-size: 1.5rem;
    letter-spacing: -1.5px;
  }
    
  #email::placeholder {
    font-size: 1.5rem;
    letter-spacing: -1.5px;
  }  

  .sec4_exp_box {
    display: flex;
    justify-content: flex-end;
  }
  
  .sec4_exp {
    width: 410px;
    text-align: left;
  }

  #inbox_svg2 {
    display: block;
  }
}



/* --------------------------------------------------------------------------------- */
/* SECTION TOOLS */

#tools {
  background-color: #fff;
}

@media all and (min-width: 600px) {
  .forgrid_tools {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }
}

/* --------------------------------------------------------------------------------- */
/* SECTION JOBS */

#jobs {
  background-color: #fff;
}

#jobs_rols {
  margin-top: -1rem;
}

#miami_container {
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#miami_circle {
  width: 7px;
  height: 7px;
  background-color: #000;
  border-radius: 50%;
  margin-right: 0.2rem;
}

#miami_title {
  font-family: 'Circular-medium';
  font-size: 0.8rem;
  letter-spacing: -0.8px;
}

#jobs_editorial {
  font-family: 'Circular-medium';
  font-size: 1.2rem;
  letter-spacing: -1px;
  margin-top: -0.4rem;
}

#miami_arrow_container {
  visibility: hidden;
}

#jobs_editorial.hover {
  text-decoration: underline;
}

@media all and (min-width: 600px) {

  #jobs_editorial {
    font-family: 'Circular-medium';
    font-size: 1.3rem;
    letter-spacing: -1px;
    margin-top: -0.4rem;
  }
}

@media all and (min-width: 1024px) {

  #jobs_rols {
    margin-top: -0.6rem;
    position: relative;
  }  

  #jobs_editorial {
    font-family: 'Circular-medium';
    font-size: 1.5rem;
    letter-spacing: -1px;
    margin-top: 0rem;
  }

  #miami_title {
    font-size: 0.9rem;
    letter-spacing: -0.8px;
  }
  
  #miami_arrow_container {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;  
  }

  #miami_arrow_container.hover {
    opacity: 1;
    visibility: visible;
  }

  #miami_arrow_circle {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: all 0.3s ease-in-out;  
  }

  #miami_arrow_circle.hover {
    transform: scale(1);
    background-color: black;
  }

  #miami_arrow {
    width: 70%;
    transition: 0.1s ease-in-out;  
    transition: all 0.3s ease-in-out;  
  }

  #miami_arrow.hover {
    filter: invert(1);
  }
  
}



/* --------------------------------------------------------------------------------- */
/* SECTION TOOLS & JOBS */



#toolsAndJobs {
  background-color: #fff;
  /* border: 4px solid red; */
} 

#toolsAndJobsGrid {
  /* border: 4px solid blue; */
}

@media all and (min-width: 1024px) {
  #toolsAndJobsGrid {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    grid-gap: 6rem;
  }
}


/* --------------------------------------------------------------------------------- */
/* SECTION TIME */

#lower {
  /* border: 4px solid darkblue; */
}

#time {
  border: 2px solid red;
  padding-top: 3.5rem;
}

#timeLogo {
  border: 1px solid lime;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 2.5rem;
}

#timeLogo_img {
  border: 1px solid salmon;
  width: 170px;
}


#timeFlex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#timeSns {
  border: 2px solid blue;
}

.timeSns {
  font-size: 1.1rem;
  letter-spacing: -0.5px;
  font-weight: bolder;
  font-family: 'AvenirLTStd-Light';
  line-height: 1.7;
}

#timeTime {
  border: 1px solid purple;
}

.timeTime {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeTime_left {
  border: 1px solid lime;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.timeCircle {
  width: 4px; 
  height: 4px;
  background: black;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.timeCountry {
  /* border: 1px solid purple; */
  font-family: 'Circular-medium';
  font-weight: bolder;
  font-size: 1.1rem;
}

.timeCities {
  display: none;
}

.timeClock {
  /* border: 1px solid purple; */
  /* border: 2px solid yellow; */
  font-family: 'AvenirLTStd-Light';
  font-weight: bolder;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.3rem;
}

.hour {
  /* border: 1px solid purple; */
  padding-right: 0.1rem;
}

.min {
  padding: 0 0.1rem;
  /* border: 1px solid purple; */
}

.sec {
  padding-left: 0.1rem;
}

@media all and (min-width: 600px) {
  #timeSns {
    border: 2px solid blue;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%;
  }

  .timeSns_notInsta {
    margin-right: 10%;
  }

  #timeTimeFlex {
    border: 2px solid purple;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 40%;
  }

  .timeSns_Insta {
    border: 1px solid red;
  }

  #timeLogo_img {
    width: 190px;
  }

  .timeSns {
    font-size: 1.2rem;
  }

  .timeCircle {
    width: 7px; 
    height: 7px;
    margin-right: 0.2rem;
  }
  
  .timeCountry {
    font-size: 1.2rem;
    letter-spacing: -0.5px;
    border: 1px solid blue;

  }
  
  .timeCities {
    display: block;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-right: 1.5rem; */
  }

  .timeCity {
    font-family: 'Circular-book';
    font-size: 0.8rem;
    padding: 0 0.2rem;
  }

  .timeCity_circle {
    width: 2px;
    height: 2px;
    background: black;
    border-radius: 50%;
  }
  
  .timeClock {
    font-size: 1.2rem;
  }  
  
}

@media all and (min-width: 1024px) {
  #overallTimeFlex {
    display: flex;
    align-items: flex-start;

  }

  #timeLogo {
    width: 33%;
    border: 1px solid lime;
    align-items: flex-start;
    padding-bottom: 0rem;
  }
  
  #timeLogo_img {
    width: 230px;
  }

  #timeFlex {
    width: 67%;
    border: 2px solid black;
  }

  .timeSns {
    font-size: 1.4rem;
  }
  
  .timeCountry {
    font-size: 1.4rem;
    letter-spacing: -0.7px;
  }

  .timeCity {
    font-size: 0.9rem;
    letter-spacing: -0.9px;
  }
  
  .timeClock {
    font-size: 1.4rem;
  }  
}

/* --------------------------------------------------------------------------------- */
/* FOOTER */

footer {
  border: 2px solid fuchsia;
  padding-bottom: 2rem;
}

#footerArrowDiv {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 4rem 0;
}

#footerArrowMain {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#footerArrowTitle {
  font-family: 'Circular-medium';
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin-right: 0.5rem;
}

#footerArrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
  background: transparent;
}

#footerArrow.hover {
  background-color: black;
}

#footerArrow_avg {
  width: 35%;
  transition: all 0.1s ease-in-out;
}

#footerArrow_avg.hover {
  filter: invert(1);
}

#footerElems {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid red;
}

.footerelem {
  font-family: 'AvenirLTStd-Light';
  font-weight: bolder;
  font-size: 1rem;
  margin-right: 2rem;
  border: 1px solid green;
}

#footerCom {
  border: 1px solid red;
  margin-bottom: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media all and (min-width: 600px) {
  #footerArrow {
    width: 60px;
    height: 60px;
  }
    
  #footerArrow_avg {
    width: 40%;
  }
  
  #footerComElems {
    /* border: 1px solid blue;
    order: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center; */
  }

  #footerFlex {
    border: 3px solid orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #footerArrowDiv {
    padding: 0;
    order: 2;
  }

  #footerCom {
    margin-bottom: 0;
  }
}

@media all and (min-width: 795px) {
  #footerComElems {
    border: 1px solid blue;
    order: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
