<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | Spotify Design</title>
  <link rel="stylesheet" href="/public/style.css">
  <script defer src="/public/app.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Anton&family=Architects+Daughter&family=Gruppo&family=Indie+Flower&family=Inter:wght@300;400;500;600;700;800;900&family=Jost:ital,wght@0,100;0,200;0,300;0,600;0,700;1,100;1,200;1,300;1,600&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300&family=Montserrat:wght@400;600;700;800;900&family=Oswald:wght@300;400;500;600;700&family=PT+Serif:wght@400;700&family=Permanent+Marker&family=Poiret+One&family=REM:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@200;300;400;500;600;700;800;900&family=Righteous&family=Satisfy&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&family=Source+Serif+4:ital,opsz,wght@0,8..60,200;0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,700;1,8..60,200;1,8..60,300;1,8..60,400&family=Zeyada&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
</head>
<body>
  <!-- MENU-POP -->

  <div class="menu-pop"></div>
  
  <!-- INTRO -->

  <img class="intro__logo" src="/public/svg/big_logo.svg" alt="intro-logo">
  <img class="intro__flower" src="/public/svg/intro_flower.svg" alt="intro-flower">
  
  <!---------------------------------------------------------------------------------->
  <!-- HEADER -->

  <header class="for-flex header">
    <div class="for-width header--flex">
      <img class="header__logo" src="/public/svg/small_logo.svg" alt="header__logo">
      <div class="header__menu-lines">
        <div class="header__menu-lines__line header__menu-lines__line--first"></div>
        <div class="header__menu-lines__line header__menu-lines__line--second"></div>
        <div class="header__menu-lines__line header__menu-lines__line--third"></div>
      </div> 
      <div class="header__menu-texts">
        <div class="header__menu-texts--flex">
          <div class="header__menu-texts__text-box header__menu-texts__text-box--first">
            <div class="header__menu-texts__text-box__text">Stories</div>
            <div class="header__menu-texts__text-box__circle--flex">
              <div class="header__menu-texts__text-box__circle"></div>
            </div>
          </div>
          <div class="header__menu-texts__text-box header__menu-texts__text-box--second">
            <div class="header__menu-texts__text-box__text">Listen</div>
            <div class="header__menu-texts__text-box__circle--flex">
              <div class="header__menu-texts__text-box__circle"></div>
            </div>
          </div>
          <div class="header__menu-texts__text-box header__menu-texts__text-box--third">
            <div class="header__menu-texts__text-box__text">Team</div>
            <div class="header__menu-texts__text-box__circle--flex">
              <div class="header__menu-texts__text-box__circle"></div>
            </div>
          </div>
          <div class="header__menu-texts__text-box header__menu-texts__text-box--fourth">
            <div class="header__menu-texts__text-box__text">Tools</div>
            <div class="header__menu-texts__text-box__circle--flex">
              <div class="header__menu-texts__text-box__circle"></div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </header>

  <!---------------------------------------------------------------------------------->
  <!-- MAIN -->

  <main class="for-flex main">
    <div class="for-width main--grid">
      <div class="main__img-title">
        <div class="main__img-title__images">
          <div class="mainimg_container first">
            <img class="mainimg" src="/public/img/main_1.jpeg" alt="main_1">
          </div>
          <div class="mainimg_container second">
            <img class="mainimg" src="./img/main_2.jpeg" alt="main_2">
          </div>
          <div class="mainimg_container">
            <img class="mainimg" src="./img/main_3.jpeg" alt="main_3">
          </div>
          <div class="mainimg_container">
            <img class="mainimg" src="./img/main_4.jpeg" alt="main_4">
          </div>
          <div class="mainimg_container">
            <img class="mainimg" src="./img/main_5.jpeg" alt="main_5">
          </div>
          <div class="mainimg_container">
            <img class="mainimg" src="./img/main_6.jpeg" alt="main_6">
          </div>
          <div class="mainimg_container">
            <img class="mainimg" src="./img/main_7.jpeg" alt="main_7">
          </div>
          <div class="mainimg_container">
            <img class="mainimg" src="./img/main_8.jpeg" alt="main_8">
          </div>
          <div class="mainimg_container">
            <img class="mainimg" src="./img/main_9.jpeg" alt="main_9">
          </div>
          <div class="mainimg_container">
            <img class="mainimg" src="./img/main_10.jpeg" alt="main_10">
          </div>
          <div class="mainimg_container">
            <img class="mainimg" src="./img/main_11.jpeg" alt="main_11">
          </div>
          <div class="mainimg_container">
            <img class="mainimg" src="./img/main_12.jpeg" alt="main_12">
          </div>
          <div class="mainimg_container">
            <img class="mainimg" src="./img/main_13.jpeg" alt="main_13">
          </div>
          <div class="mainimg_container">
            <img class="mainimg" src="./img/main_14.jpeg" alt="main_14">
          </div>
          <div class="mainimg_container">
            <img class="mainimg" src="./img/main_15.jpeg" alt="main_15">
          </div>
        </div>
        <div class="main__img-title__title-box">
          <div class="main__img-title__title-box__box">
            <div class="main__img-title__title-box__box__subject">BEHIND THE SCENES</div>
            <div class="main__img-title__title-box__box__title">Collaboration Secrets: Design X Engineering</div>  
          </div>
        </div>
      </div>
      <div class="main__shuffle">
        <div class="main__shuffle--flex">
          <img class="main__shuffle__img" src="/public/svg/prev.svg" alt="prev.svg">
          <img class="main__shuffle__img" src="/public/svg/next.svg" alt="next.svg">
          <img class="main__shuffle__img" src="/public/svg/shuffle.svg" alt="shuffle.svg">
        </div>
      </div>    
      <div class="main__progress-scroll">
        <div class="main__progress-scroll__progress">
          <div>NUMBER</div>
        </div>
        <div class="main__progress-scroll__scroll">
          <div class="main__progress-scroll__scroll__text">SCROLL DOWN</div>
          <div class="main__progress-scroll__scroll__circle">
            <img class="main__progress-scroll__scroll__circle__arrow" src="/public/svg/down_arrow.svg" alt="main-scroll-arrow">
          </div>
        </div>
      </div>  
    </div>
  </main>

  <!---------------------------------------------------------------------------------->
  <!-- SECTION RELEASE -->

  <section class="for-flex release">
    <div class="for-width">
      <div class="right-arrow--relative">
        <h3 class="release__heading">New Releases</h3>
        <div class="release--grid">
          <div class="js-release__img-box">
            <img class='img-box__img' src="/public/img/rel1.webp" alt="release1">
            <div class="img-box__subject">BEHIND THE SCENES</div>
            <p class="js-img-box__title">Collaboration Secrets: Design X Engineering</p>
            <p class="img-box__explanation">Learn how engineers and designers collaborate at Spotify: what works well, what can go wrong.. and everything in between!</p>
          </div>
          <div class="js-release__img-box">
            <img class='img-box__img' src="/public/img/rel2.webp" alt="release2">
            <div class="img-box__subject">Q+A</div>
            <p class="js-img-box__title">Ask Spotify Design 07</p>
            <p class="img-box__explanation">How do you choose colors? Prioritize your workload? Govern a design system? Our community panel returns to answer your thoughtful questions.</p>
          </div> 
          <div class="js-release__img-box">
            <img class='img-box__img' src="/public/img/rel3.webp" alt="release3">
            <div class="img-box__subject">BEHIND THE SCENES</div>
            <p class="js-img-box__title">Making Moves: Designing Motion for 2022 Wrapped</p>
            <p class="img-box__explanation">Simple brief, complex executions: UX Motion Designer Ade shares his journey on bringing 2022 Wrapped's data stories to life.</p>
          </div> 
          <div class="js-release__img-box">
            <div class="js-release__img-box__play-box release__img-box__play-box--relative">
              <img class='img-box__img' src="/public/img/rel4.webp" alt="release4">
              <div class="js-release__img-box__play-box__play-button">
                <img class='release__img-box__play-box__play-button__img' src="/public/svg/play.svg" alt="playButton">
              </div>
            </div>
            <div class="img-box__subject">LISTEN</div>
            <div class="img-box__subject img-box__subject--background-change">DANCE</div>
            <div class="img-box__subject img-box__subject--background-change">AMBIENT</div>
            <div class="img-box__subject img-box__subject--background-change">ELECTRONIC</div>
            <p class="js-img-box__title">Zoned 44</p>
            <p class="img-box__explanation">Journey up and through the cosmic soundscape to join ShroomCat for a misty mountaintop stomp.</p>
          </div> 
        </div>
        <div class="right-arrow">
          <div class="js-right-arrow__contents">
            <div class="right-arrow__contents__title-box">
              <div class="js-right-arrow__contents__title-box__title">VIEW ALL STORIES</div>
              <div class="js-right-arrow__contents__title-box__second-line"></div>
            </div>
            <div class="js-right-arrow__contents__arrow-circle">
              <img class='js-right-arrow__contents__arrow-circle__arrow-img' src="/public/svg/right_arrow.svg" alt="right_arrow">
            </div>
          </div>
        </div>    
      </div>
    </div>
  </section>

  <!---------------------------------------------------------------------------------->
  <!-- SECTION SPOTLIGHT -->

  <div class="js-spotlight-cursor">
    <div class="js-spotlight-cursor__circle">
      <img class="spotlight-cursor__left-arrow" src="/public/svg/play.svg" alt="left-arrow">
      <img class="spotlight-cursor__right-arrow" src="/public/svg/play.svg" alt="right-arrow">    
    </div>
  </div>          

  <section class="for-flex spotlight">
    <div class="for-width">
      <div class="right-arrow--relative">
        <div class="heading-box">
          <div class="heading-box--bold">In the Spotlight</div>
          <div class="heading-box--normal">Meet the humans who design Spotify</div>  
        </div>
        <div class="spotlight__scroll">
          <div class="js-spotlight__scroll__inner">
            <div class="js-spotlight__scroll__item spotlight__scroll__item--width-first">
              <div class="spotlight__scroll__item__img-box">
                <img class="js-spotlight__scroll__item__img-box__img" src="/public/img/spot1.jpeg" alt="spot1">
                <div class="spotlight__scroll__item__img-box__read spotlight__scroll__item__img-box__read--1"><div class="spotlight__scroll__item__img-box__read__text">"If you’d asked the kid version of me what I wanted to be when I grew up, I would’ve definitely told you “teddy bear surgeon”. If you’d asked me to be serious, I’d tell you “someone who designs things”.Looking back, I guess I wasn’t far off."</div><div class="spotlight__scroll__item__img-box__read__more">READ MORE</div></div>
                <img class="spotlight__scroll__item__img-box__svg1" src="/public/svg/spot1.svg" alt="spot1.svg">
              </div>
              <div class="spotlight__scroll__item__heading--bold">Tobi Oyadiran</div>
              <div class="spotlight__scroll__item__heading--normal">Product Designer II</div>    
              <div class="spotlight__scroll__item__side-box">
                <div class="spotlight__scroll__item__side-box__circle"></div>
                <div class="spotlight__scroll__item__side-box__city">STOCKHOLM</div>
              </div>
            </div>
            <div class="js-spotlight__scroll__item spotlight__scroll__item--width-second">
              <div class="spotlight__scroll__item__img-box">
                <img class="js-spotlight__scroll__item__img-box__img" src="/public/img/spot2.jpeg" alt="spot2">
                <div class="spotlight__scroll__item__img-box__read spotlight__scroll__item__img-box__read--2"><div class="spotlight__scroll__item__img-box__read__text">"The art of gathering people and insights are two areas I’d like to master throughout my life and career in service design."</div><div class="spotlight__scroll__item__img-box__read__more">READ MORE</div></div>
                <img class="spotlight__scroll__item__img-box__svg2" src="/public/svg/spot2.svg" alt="spot2.svg">
              </div>
              <div class="spotlight__scroll__item__heading--bold">Grace Kwon</div>
              <div class="spotlight__scroll__item__heading--normal">Senior Service Designer</div>    
              <div class="spotlight__scroll__item__side-box">
                <div class="spotlight__scroll__item__side-box__circle"></div>
                <div class="spotlight__scroll__item__side-box__city">NEW YORK</div>
              </div>
            </div>
            <div class="js-spotlight__scroll__item spotlight__scroll__item--width-third">
              <div class="spotlight__scroll__item__img-box">
                <img class="js-spotlight__scroll__item__img-box__img" src="/public/img/spot3.jpeg" alt="spot3">
                <div class="spotlight__scroll__item__img-box__read spotlight__scroll__item__img-box__read--3"><div class="spotlight__scroll__item__img-box__read__text">"I get to enter a new unfamiliar space, make sense of it using different design processes and tools, and bring forth a narrative"</div><div class="spotlight__scroll__item__img-box__read__more">READ MORE</div></div>
                <img class="spotlight__scroll__item__img-box__svg1" src="/public/svg/spot1.svg" alt="spot1.svg">
              </div>
              <div class="spotlight__scroll__item__heading--bold">René Simonsson</div>
              <div class="spotlight__scroll__item__heading--normal">Product Designer I</div>    
              <div class="spotlight__scroll__item__side-box">
                <div class="spotlight__scroll__item__side-box__circle"></div>
                <div class="spotlight__scroll__item__side-box__city">STOCKHOLM</div>
              </div>
            </div>
            <div class="js-spotlight__scroll__item spotlight__scroll__item--width-first">
              <div class="spotlight__scroll__item__img-box">
                <img class="js-spotlight__scroll__item__img-box__img" src="/public/img/spot4.jpeg" alt="spot4">
                <div class="spotlight__scroll__item__img-box__read spotlight__scroll__item__img-box__read--4"><div class="spotlight__scroll__item__img-box__read__text">"Being able to create something that makes someone feel more visible as a human in a digital experience keeps me motivated."</div><div class="spotlight__scroll__item__img-box__read__more">READ MORE</div></div>
                <img class="spotlight__scroll__item__img-box__svg1" src="/public/svg/spot1.svg" alt="spot1.svg">
              </div>
              <div class="spotlight__scroll__item__heading--bold">Ashely Moody</div>
              <div class="spotlight__scroll__item__heading--normal">Product Designer II</div>    
              <div class="spotlight__scroll__item__side-box">
                <div class="spotlight__scroll__item__side-box__circle"></div>
                <div class="spotlight__scroll__item__side-box__city">NEW YORK</div>
              </div>
            </div>
            <div class="js-spotlight__scroll__item spotlight__scroll__item--width-second">
              <div class="spotlight__scroll__item__img-box">
                <img class="js-spotlight__scroll__item__img-box__img" src="/public/img/spot5.jpeg" alt="spot5">
                <div class="spotlight__scroll__item__img-box__read spotlight__scroll__item__img-box__read--5"><div class="spotlight__scroll__item__img-box__read__text">"That experience taught me that the ‘why’ of a design is just as important as the design itself."</div><div class="spotlight__scroll__item__img-box__read__more">READ MORE</div></div>
                <img class="spotlight__scroll__item__img-box__svg2" src="/public/svg/spot2.svg" alt="spot2.svg">
              </div>
              <div class="spotlight__scroll__item__heading--bold">Kevita Chepovetsky</div>
              <div class="spotlight__scroll__item__heading--normal">Senior Product Designer</div>    
              <div class="spotlight__scroll__item__side-box">
                <div class="spotlight__scroll__item__side-box__circle"></div>
                <div class="spotlight__scroll__item__side-box__city">NEW YORK</div>
              </div>
            </div>
            <div class="js-spotlight__scroll__item spotlight__scroll__item--width-third">
              <div class="spotlight__scroll__item__img-box">
                <img class="js-spotlight__scroll__item__img-box__img" src="/public/img/spot6.jpeg" alt="spot6">
                <div class="spotlight__scroll__item__img-box__read spotlight__scroll__item__img-box__read--6"><div class="spotlight__scroll__item__img-box__read__text">"Always felt I was creative but not in the traditional sense. I was more of a creative in how to just get things done with limited or no resources."</div><div class="spotlight__scroll__item__img-box__read__more">READ MORE</div></div>
                <img class="spotlight__scroll__item__img-box__svg1" src="/public/svg/spot1.svg" alt="spot1.svg">
              </div>
              <div class="spotlight__scroll__item__heading--bold">Leslie Ogoe</div>
              <div class="spotlight__scroll__item__heading--normal">Design Product Designer</div>    
              <div class="spotlight__scroll__item__side-box">
                <div class="spotlight__scroll__item__side-box__circle"></div>
                <div class="spotlight__scroll__item__side-box__city">JERSEY CITY</div>
              </div>
            </div>
            <div class="js-spotlight__scroll__item spotlight__scroll__item--width-first">
              <div class="spotlight__scroll__item__img-box">
                <img class="js-spotlight__scroll__item__img-box__img" src="/public/img/spot7.jpeg" alt="spot7">
                <div class="spotlight__scroll__item__img-box__read spotlight__scroll__item__img-box__read--7"><div class="spotlight__scroll__item__img-box__read__text">"I find satisfaction in pouring my energy into creating something (tangible or digital) that is useful, helpful, or inspiring."</div><div class="spotlight__scroll__item__img-box__read__more">READ MORE</div></div>
                <img class="spotlight__scroll__item__img-box__svg1" src="/public/svg/spot1.svg" alt="spot1.svg">
              </div>
              <div class="spotlight__scroll__item__heading--bold">Vandana Pai</div>
              <div class="spotlight__scroll__item__heading--normal">Senior Product Designer</div>    
              <div class="spotlight__scroll__item__side-box">
                <div class="spotlight__scroll__item__side-box__circle"></div>
                <div class="spotlight__scroll__item__side-box__city">NEW YORK</div>
              </div>
            </div>  
            <div class="js-spotlight__scroll__item spotlight__scroll__item--width-second">
              <div class="spotlight__scroll__item__img-box">
                <img class="js-spotlight__scroll__item__img-box__img" src="/public/img/spot8.jpeg" alt="spot8">
                <div class="spotlight__scroll__item__img-box__read spotlight__scroll__item__img-box__read--8"><div class="spotlight__scroll__item__img-box__read__text">"Design isn’t just about the perfect pixel in the perfect layout for the perfect user journey. Design is also about the user and collaboration."</div><div class="spotlight__scroll__item__img-box__read__more">READ MORE</div></div>
                <img class="spotlight__scroll__item__img-box__svg2" src="/public/svg/spot2.svg" alt="spot2.svg">
              </div>
              <div class="spotlight__scroll__item__heading--bold">Corinne Onetto</div>
              <div class="spotlight__scroll__item__heading--normal">Senior Product Manager</div>    
              <div class="spotlight__scroll__item__side-box">
                <div class="spotlight__scroll__item__side-box__circle"></div>
                <div class="spotlight__scroll__item__side-box__city">STOCKHOLM</div>
              </div>
            </div>  
            <div class="js-spotlight__scroll__item spotlight__scroll__item--width-third">
              <div class="spotlight__scroll__item__img-box">
                <img class="js-spotlight__scroll__item__img-box__img" src="/public/img/spot9.jpeg" alt="spot9">
                <div class="spotlight__scroll__item__img-box__read spotlight__scroll__item__img-box__read--9"><div class="spotlight__scroll__item__img-box__read__text">"I like my “designer” title because it lets my curiosity run wild. It’s allowed me a peek into so many fascinating corners of the world, and I hope to keep using it as long as I can."</div><div class="spotlight__scroll__item__img-box__read__more">READ MORE</div></div>
                <img class="spotlight__scroll__item__img-box__svg1" src="/public/svg/spot1.svg" alt="spot1.svg">
              </div>
              <div class="spotlight__scroll__item__heading--bold">Janey Lee</div>
              <div class="spotlight__scroll__item__heading--normal">Senior Product Designer</div>    
              <div class="spotlight__scroll__item__side-box">
                <div class="spotlight__scroll__item__side-box__circle"></div>
                <div class="spotlight__scroll__item__side-box__city">STOCKHOLM</div>
              </div>
            </div>  
            <div class="js-spotlight__scroll__item spotlight__scroll__item--width-first">
              <div class="spotlight__scroll__item__img-box">
                <img class="js-spotlight__scroll__item__img-box__img" src="/public/img/spot10.jpeg" alt="spot10">
                <div class="spotlight__scroll__item__img-box__read spotlight__scroll__item__img-box__read--10"><div class="spotlight__scroll__item__img-box__read__text">"I chose to be a designer because it allows me to experiment and keep on iterating."</div><div class="spotlight__scroll__item__img-box__read__more">READ MORE</div></div>
                <img class="spotlight__scroll__item__img-box__svg1" src="/public/svg/spot1.svg" alt="spot1.svg">
              </div>
              <div class="spotlight__scroll__item__heading--bold">Simeon Fadahunsi</div>
              <div class="spotlight__scroll__item__heading--normal">Summer Intern Product Designer</div>    
              <div class="spotlight__scroll__item__side-box">
                <div class="spotlight__scroll__item__side-box__circle"></div>
                <div class="spotlight__scroll__item__side-box__city">STOCKHOLM</div>
              </div>
            </div>  
            <div class="js-spotlight__scroll__item spotlight__scroll__item--width-second">
              <div class="spotlight__scroll__item__img-box">
                <img class="js-spotlight__scroll__item__img-box__img" src="/public/img/spot11.jpeg" alt="spot11">
                <div class="spotlight__scroll__item__img-box__read spotlight__scroll__item__img-box__read--11"><div class="spotlight__scroll__item__img-box__read__text">"As a designer, your life is filled with problem-solving, establishing relationships, and making sure you’re providing the most enjoyable journey to people."</div><div class="spotlight__scroll__item__img-box__read__more">READ MORE</div></div>
                <img class="spotlight__scroll__item__img-box__svg2" src="/public/svg/spot2.svg" alt="spot2.svg">
              </div>
              <div class="spotlight__scroll__item__heading--bold">Inês João</div>
              <div class="spotlight__scroll__item__heading--normal">Product Designer</div>    
              <div class="spotlight__scroll__item__side-box">
                <div class="spotlight__scroll__item__side-box__circle"></div>
                <div class="spotlight__scroll__item__side-box__city">BERLIN</div>
              </div>
            </div>  
            <div class="js-spotlight__scroll__item spotlight__scroll__item--width-third">
              <div class="spotlight__scroll__item__img-box">
                <img class="js-spotlight__scroll__item__img-box__img" src="/public/img/spot12.jpeg" alt="spot12">
                <div class="spotlight__scroll__item__img-box__read spotlight__scroll__item__img-box__read--12"><div class="spotlight__scroll__item__img-box__read__text">"I usually say that I don’t touch anything they see as Spotify. Instead, I see myself as a plumber of sorts, working far below the surface and making sure everything runs smoothly."</div><div class="spotlight__scroll__item__img-box__read__more">READ MORE</div></div>
                <img class="spotlight__scroll__item__img-box__svg1" src="/public/svg/spot1.svg" alt="spot1.svg">
              </div>
              <div class="spotlight__scroll__item__heading--bold">Elias Lind</div>
              <div class="spotlight__scroll__item__heading--normal">Product Designer</div>    
              <div class="spotlight__scroll__item__side-box">
                <div class="spotlight__scroll__item__side-box__circle"></div>
                <div class="spotlight__scroll__item__side-box__city">GOTHENBURG</div>
              </div>
            </div>    
          </div>
        </div>
        <div class="right-arrow">
          <div class="js-right-arrow__contents">
            <div class="right-arrow__contents__title-box">
              <div class="js-right-arrow__contents__title-box__title">VIEW ALL IN THE SPOTLIGHT</div>
              <div class="js-right-arrow__contents__title-box__second-line"></div>
            </div>
            <div class="js-right-arrow__contents__arrow-circle">
              <img class='js-right-arrow__contents__arrow-circle__arrow-img' src="/public/svg/right_arrow.svg" alt="right_arrow">
            </div>
          </div>
        </div>    
      </div>  
    </div>
  </section>

  <!---------------------------------------------------------------------------------->
  <!-- SECTION INBOX -->

  <section class="for-flex js-inbox">
    <div class="for-width">
      <div class="inbox__title">
        <svg class="inbox__title__svg-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 196 48" preserveAspectRatio="'none"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4"><path class="js-inbox__title__svg-arrow__path1" d="M154 21c6-2 13-4 23 0-13-5-16-8-18-15"></path><path class="js-inbox__title__svg-arrow__path2" d="M14 28c29-22 101-5 104 9 1 7-18 7 0-12s53-6 53-6"></path></g></svg>
        <div class="inbox__title__text-box">
          Want Spotify Design updates sent straight to your 
          <span class="inbox__title__text-box__svg-circle--relative">
            <div class="inbox__title__text-box__svg-circle--absolute">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 68"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path class="js-inbox__title__text-box__svg-circle__path1" d="M105 10C28-9-29 40 34 56c62 16 91-29 66-29"></path><path class="js-inbox__title__text-box__svg-circle__path2" d="M109 16C82-20-56 21 30 55s105-27 75-45"></path></g></svg>
            </div>
            inbox?
          </span>
        </div>
      </div>
      <div class="inbox__email-box">
        <div class="inbox__email-box--width">
          <form action="#" class="inbox__email-box__form">
            <div class="inbox__email-box__form--flex">
              <input type="text" name='email' class="inbox__email-box__form__input" placeholder="We saved a spot for your email">
              <button class="inbox__email-box__form__button">SEND</button> 
              <div class="inbox__email-box__form__underline"></div> 
            </div>  
          </form>  
        </div>
      </div>
      <div class="inbox__explanation">
        <div class="inbox__explanation__text">By clicking send you'll receive occasional emails from Spotify Design. You always have the choice to unsubscribe within every email you receive.</div>
      </div>
    </div>
  </section>


  
  <!---------------------------------------------------------------------------------->
  <!-- SECTION TOOLS AND JOBS -->

  <section class="for-flex tools-jobs">
    <div class="for-width tools-jobs--grid">
      <section class="right-arrow--relative">
          <div class="heading-box">
            <div class="heading-box--bold">Tools</div>
            <div class="heading-box--normal">Our day-to-day resources</div>  
          </div>
          <div class="tools--grid">
            <div class="js-tools__img-box">
              <img class='img-box__img' src="/public/img/tools1.webp" alt="tools1">
              <div class="img-box__subject">TOOLS</div>
              <p class="js-img-box__title">Performance Cards: Designing with Meaning and Empathy</p>
              <p class="img-box__explanation">Challenge the way you think and serve access-constrained users with these cards.</p>
            </div>
            <div class="js-tools__img-box">
              <img class='img-box__img' src="/public/img/tools2.webp" alt="tools2">
              <div class="img-box__subject">TOOLS</div>
              <p class="js-img-box__title">Assessing Constraints: Making Products for all Users</p>
              <p class="img-box__explanation">The team behind Spotify Lite created this tool to ensure they're building products for the people around the world who face technological challenge.</p>
            </div>  
          </div>
          <div class="right-arrow">
            <div class="js-right-arrow__contents">
              <div class="right-arrow__contents__title-box">
                <div class="js-right-arrow__contents__title-box__title">VIEW ALL TOOLS</div>
                <div class="js-right-arrow__contents__title-box__second-line"></div>
              </div>
              <div class="js-right-arrow__contents__arrow-circle">
                <img class='js-right-arrow__contents__arrow-circle__arrow-img' src="/public/svg/right_arrow.svg" alt="right_arrow">
              </div>
            </div>
          </div>  
      </section>
    
      <section class="right-arrow--relative">
          <div class="heading-box">
            <div class="heading-box--bold">Jobs</div>
            <div class="heading-box--normal">Open roles at Spotify Design</div>  
          </div>
          <div class="js-jobs">
            <div class="jobs__miami">
              <div class="jobs__miami__circle"></div>
              <div class="jobs__miami__text">MIAMI</div>
              <div class="js-jobs__miami__arrow">
                <div class="js-jobs__miami__arrow__circle">
                  <img class="js-jobs__miami__arrow__circle__arrow" src="/public/svg/diagonal_arrow.svg" alt="diagonal_arrow">
                </div>
              </div>
            </div>
            <div class="js-jobs__editorial">Design Manager - Editorial, LatAm</div>
          </div>
          <div class="right-arrow">
            <div class="js-right-arrow__contents">
              <div class="right-arrow__contents__title-box">
                <div class="js-right-arrow__contents__title-box__title">VIEW TEAM</div>
                <div class="js-right-arrow__contents__title-box__second-line"></div>
              </div>
              <div class="js-right-arrow__contents__arrow-circle">
                <img class='js-right-arrow__contents__arrow-circle__arrow-img' src="/public/svg/right_arrow.svg" alt="right_arrow">
              </div>
            </div>
          </div>  
      </section>
    </div>  
  </section>

  <!---------------------------------------------------------------------------------->
  <!-- SECTION TIME -->
  
  <div class="time-footer">
    <section class="for-flex time">
      <div class="for-width time--flex">
        <div class="time__logo">
          <img class="time__logo__img" src="/public/svg/small_logo.svg" alt="time__logo">
        </div>
        <div class="time__main-box">
          <div class="time__main-box__links">
            <div class="time__main-box__links__newsroom">
              <div class="time__main-box__links__link">Newsroom</div>
              <div class="time__main-box__links__link">Spotify Jobs</div>
              <div class="time__main-box__links__link">Spotify.com</div>
              <div class="time__main-box__links__link">Spotify R&D Engineering</div>
              <div class="time__main-box__links__link">Spotify R&D Research</div>
              <div class="time__main-box__links__link">Spotify R&D Insights</div>
            </div>
            <div class="time__main-box__links__instagram">
              <div class="time__main-box__links__link">Instagram</div>
              <div class="time__main-box__links__link">Twitter</div>
            </div>
          </div>
          <div class="time__main-box__times--flex">
            <div class="time__main-box__times">
              <div class="time__main-box__times__time">
                <div class="time__main-box__times__time__country">
                  <div class="time__main-box__times__time__country__circle"></div>
                  <div class="time__main-box__times__time__country__country-name">SE</div>
                  <div class="time__main-box__times__time__country__city">
                    <div class="time__main-box__times__time__country__city__name">GBG</div>
                    <div class="time__main-box__times__time__country__city__circle"></div>
                    <div class="time__main-box__times__time__country__city__name">STO</div>
                  </div>    
                </div>
                <div class="time__main-box__times__time__clock">
                  <div class="js-time__main-box__times__time__clock__hour"></div>:<div class="js-time__main-box__times__time__clock__minute"></div>:<div class="js-time__main-box__times__time__clock__second"></div>
                </div>
              </div>
              <div class="time__main-box__times__time">
                <div class="time__main-box__times__time__country">
                  <div class="time__main-box__times__time__country__circle"></div>
                  <div class="time__main-box__times__time__country__country-name">UK</div>
                  <div class="time__main-box__times__time__country__city">
                    <div class="time__main-box__times__time__country__city__name">LDN</div>
                  </div>  
                </div>
                <div class="time__main-box__times__time__clock">
                  <div class="js-time__main-box__times__time__clock__hour"></div>:<div class="js-time__main-box__times__time__clock__minute"></div>:<div class="js-time__main-box__times__time__clock__second"></div>
                </div>
              </div>
              <div class="time__main-box__times__time">
                <div class="time__main-box__times__time__country">
                  <div class="time__main-box__times__time__country__circle"></div>
                  <div class="time__main-box__times__time__country__country-name">US</div>
                  <div class="time__main-box__times__time__country__city">
                    <div class="time__main-box__times__time__country__city__name">NY</div>
                    <div class="time__main-box__times__time__country__city__circle"></div>
                    <div class="time__main-box__times__time__country__city__name">BOS</div>
                  </div>  
                </div>
                <div class="time__main-box__times__time__clock">
                  <div class="js-time__main-box__times__time__clock__hour"></div>:<div class="js-time__main-box__times__time__clock__minute"></div>:<div class="js-time__main-box__times__time__clock__second"></div>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </section> 

    <!---------------------------------------------------------------------------------->
    <!-- FOOTER -->
    
    <footer class="for-flex">
      <div class="for-width">
        <div class="footer">
          <div class="footer__back-to-top">
            <div class="js-footer__back-to-top__contents">
              <div class="footer__back-to-top__contents__text">BACK TO TOP</div>
              <div class="js-footer__back-to-top__contents__arrow">
                <img class="js-footer__back-to-top__contents__arrow_img" src="/public/svg/up_arrow.svg" alt="backtotop-arrow">
              </div>
            </div>
          </div>
          <div class="footer__links">
            <div class="footer__links__company">
              <div class="footer__links--text">&copy; 2020 Spotify AB</div>
            </div>
            <div class="footer__links__detail">
              <div class="footer__links--text">Legal</div>
              <div class="footer__links--text">Privacy</div>
              <div class="footer__links--text">Cookies</div>
              <div class="footer__links--text">Revoke access</div>
              <div class="footer__links--text">RSS</div>
            </div>
          </div>    
        </div>
      </div>
    </footer>
    <img class="time-footer__flower" src="/public/svg/footer.svg" alt="time-footer__flower">
  </div>


</body>
</html>